<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!--STYLES-->
        <link rel="stylesheet" href="./../css/reset.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
        <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css'>
        <link rel="stylesheet" href="./../css/styles.css">
        <link rel="stylesheet" href="./../css/header.css">
        <link rel="stylesheet" href="./../css/landing.css">
        <link rel="stylesheet" href="./../css/sidebar.css">
        <link rel="stylesheet" href="./../css/footer.css">
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
            <img src="./../assets/icons/trackgenix-logo.png" alt="company's logo" class="rr-logo">
            <h1 class="title">Trackgenix SA</h1>
            <i class='bx bx-menu'></i>
        </header>
        <div class="flex-container">
            <aside>
                <span class="side-title">Menu</span>
                <ul>
                    <li class="side-link">
                        <a href="#">Home</a>
                    </li>
                    <li class="side-link">
                        <a href="./../views/employee-signup.html">Sign Up</a>
                    </li>
                    <li class="side-link">
                        <a href="./../views/login.html">Log in</a>
                    </li>
                    <li>
                        <a href="#contact-form">Contact Us</a>
                    </li>
                </ul>
                <div class="flex-container">
                    <img src="./../assets/icons/mail-icon.png" alt="mail" class="side-icon">
                    <p>contact@trackgenix.com</p>
                </div>
                <div class="flex-container">
                    <img src="./../assets/icons/phone-icon.png" alt="phone" class="side-icon">
                    <p>(000) 000-0000</p>
                </div>
                <div class="flex-container">
                    <img src="./../assets/icons/home-icon.png" alt="home" class="side-icon">
                    <div>
                        <p>1234 Somewhere road</p>
                        <p>#8254</p>
                        <p>Nashville, TN</p>
                        <p>00000-0000</p>
                    </div>
                </div>
            </aside>
            <div>
                <main>
                    <section class="flex-container">
                        <img src="./../assets/images/manage-teams.jpg" alt="decorative image">
                        <div class="section-1">
                            <h2>Manage your hours and teams with ease</h2>
                            <p>Use Trackgenix to track time, make decisions and upgrade your productivity</p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto excepturi exercitationem repellat magni 
                                totam commodi omnis minus animi voluptatem blanditiis fugit fuga, rem nemo eaque quas autem vel quis? Totam!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto excepturi exercitationem repellat magni 
                                totam commodi omnis minus animi voluptatem blanditiis fugit fuga, rem nemo eaque quas autem vel quis? Totam!
                            </p>
                            <a href="#" class="link-btn">Learn more</a>
                        </div>
                    </section>
                    <section>
                        <h2 class="section-title">Functionalities</h2>
                        <div class="functionalities">
                            <article class="functionality-item">
                                <img src="./../assets/icons/calendar-icon.png" alt="calendar icon">
                                <div>
                                    <h3>Time Tracking</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, consequuntur provident</p>
                                </div>
                            </article>
                            <article class="functionality-item">
                                <img src="./../assets/icons/graph-icon.png" alt="graph icon">
                                <div>
                                    <h3>Reports</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, consequuntur provident</p>
                                </div>
                            </article>
                            <article class="functionality-item">
                                <img src="./../assets/icons/multiple-roles.png" alt="users icon">
                                <div>
                                    <h3>Multiple Roles</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, consequuntur provident</p>
                                </div>
                            </article>
                            <article class="functionality-item">
                                <img src="./../assets/icons/resource-management.png" alt="diagram icon">
                                <div>
                                    <h3>Resource Management</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, consequuntur provident</p>
                                </div>
                            </article>
                        </div>
                    </section>
                    <section>
                        <h2 class="section-title">Why does this mean an improvement in your work</h2>
                        <div class="cards">
                            <article>
                                <img src="./../assets/images/productivity-booster.jpg" alt="decorative image">
                                <h3>Productivity Booster</h3>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo voluptatibus eius autem
                                    ducimus consectetur dolorem quibusdam quae repellendus, minus quis ipsa nam sunt totam perferendis
                                    obcaecati deleniti. Aliquam, officia itaque?
                                </p>
                                <a href="#" class="link-btn">More</a>
                            </article>
                            <article>
                                <img src="./../assets/images/traceability.jpg" alt="decorative image">
                                <h3>Work Traceability</h3>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo voluptatibus eius autem
                                    ducimus consectetur dolorem quibusdam quae repellendus, minus quis ipsa nam sunt totam perferendis
                                    obcaecati deleniti. Aliquam, officia itaque?
                                </p>
                                <a href="#" class="link-btn">More</a>
                            </article>
                            <article>
                                <img src="./../assets/images/leadership.jpg" alt="decorative image">
                                <h3>Leadership and team management</h3>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo voluptatibus eius autem
                                    ducimus consectetur dolorem quibusdam quae repellendus, minus quis ipsa nam sunt totam perferendis
                                    obcaecati deleniti. Aliquam, officia itaque?
                                </p>
                                <a href="#" class="link-btn">More</a>
                            </article>
                            <article>
                                <img src="./../assets/images/decision-making.jpg" alt="decorative image">
                                <h3>Decision Making</h3>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo voluptatibus eius autem
                                    ducimus consectetur dolorem quibusdam quae repellendus, minus quis ipsa nam sunt totam perferendis
                                    obcaecati deleniti. Aliquam, officia itaque?
                                </p>
                                <a href="#" class="link-btn">More</a>
                            </article>
                        </div>
                    </section>
                    <section id="contact-form">
                        <h2 class="section-title">Get in touch with us</h2>
                        <form action="Server URL" method="POST">
                            <div class="flex-container">
                                <label class="input-block">
                                    <p>Full Name</p>
                                    <input type="text" name="Full name" placeholder="John Smith">
                                </label>
                                <label class="input-block">
                                    <p>Email Address</p>
                                    <input type="email" name="email" placeholder="johnsmith@mail.com">
                                </label>
                                <label class="input-block">
                                    <p>Choose a department:</p>
                                    <select name="department">
                                        <option value="Area" disabled selected>-Area-</option>
                                        <option value="Sales">Sales</option>
                                        <option value="Technical service">Technical service</option>
                                    </select>
                                </label>
                                <fieldset class="input-block">
                                    <legend>Priority</legend>
                                    <label>
                                        <input type="radio" name="priority" value="low">
                                        <span>Low</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="priority" value="medium">
                                        <span>Medium</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="priority" value="high">
                                        <span>High</span>
                                    </label>
                                </fieldset>
                            </div>
                            <label>
                                <p>Ask about our systems</p>
                                <textarea name="message" placeholder="Enter your message"></textarea>
                            </label>
                            <div>
                                <label>
                                    <input type="checkbox" name="robot">
                                    <span>I am not a robot</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="send-copy">
                                    <span>Send me a copy</span>
                                </label>
                            </div>
                            <div>
                                <button>Submit</button>
                                <input type="reset" value="Reset" class="link-btn">
                            </div>
                        </form>
                    </section>
                    <section>
                        <h2 class="section-title">Our story</h2>
                        <div class="breaking-text">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ea quis voluptates necessitatibus aut,
                                sequi iusto, exercitationem, amet non ipsum fuga dolores qui! Deleniti ullam fugiat, natus nihil
                                soluta modi!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, aspernatur consequatur? Provident
                                eligendi eaque cum repellendus odio, enim ea soluta. Molestias quas qui itaque amet tenetur autem aliquid sed odio?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ea quis voluptates necessitatibus aut,
                                sequi iusto, exercitationem, amet non ipsum fuga dolores qui! Deleniti ullam fugiat, natus nihil
                                soluta modi!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, aspernatur consequatur? Provident
                                eligendi eaque cum repellendus odio, enim ea soluta. Molestias quas qui itaque amet tenetur autem aliquid sed odio?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ea quis voluptates necessitatibus aut,
                                sequi iusto, exercitationem, amet non ipsum fuga dolores qui! Deleniti ullam fugiat, natus nihil
                                soluta modi!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, aspernatur consequatur? Provident
                                eligendi eaque cum repellendus odio, enim ea soluta. Molestias quas qui itaque amet tenetur autem aliquid sed odio?
                            </p>
                        </div>
                    </section>
                </main>
                <nav class="flex-container">
                    <div>
                        <p>Products</p>
                        <ol>
                            <li>
                                <a href="#">Functionalities</a>
                            </li>
                            <li>
                                <a href="#">Downloads</a>
                            </li>
                            <li>
                                <a href="#">Integrations</a>
                            </li>
                            <li>
                                <a href="#">Extras</a>
                            </li>
                        </ol>
                    </div>
                    <div>
                        <p>Company</p>
                        <ol>
                            <li>
                                <a href="#">About us</a>
                            </li>
                            <li>
                                <a href="#">Clients</a>
                            </li>
                            <li>
                                <a href="#">Resources</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                        </ol>
                    </div>
                    <div>
                        <p>Support</p>
                        <ol>
                            <li>
                                <a href="#">Help center</a>
                            </li>
                            <li>
                                <a href="#">Tutorials</a>
                            </li>
                            <li>
                                <a href="#">API</a>
                            </li>
                            <li>
                                <a href="#contact-form">Contact us</a>
                            </li>
                        </ol>
                    </div>
                </nav>
                <footer>
                    <address>
                        <a href="https://www.linkedin.com">
                            <img src="./../assets/icons/linkedin-logo.png" alt="linkedin logo" class="sm-link"></a>
                        <a href="https://www.twitter.com">
                            <img src="./../assets/icons/twitter-logo.png" alt="twitter logo" class="sm-link"></a>
                        <a href="https://www.facebook.com">
                            <img src="./../assets/icons/fb-logo.png" alt="facebook logo" class="sm-link"></a>
                        <a href="https://www.instagram.com">
                            <img src="./../assets/icons/instagram-logo.png" alt=" instagram logo" class="sm-link"></a>
                        <a href="https://www.github.com">
                            <img src="./../assets/icons/github-logo.png" alt="github logo" class="sm-link"></a>
                    </address>
                    <div>
                        <p>Rosario, Argentina</p>
                        <p>Copyright <i class='bx bx-copyright'></i> 2022 Radium Rocket. All rights reserved</p>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>