/*=== BASE ===*/

:root{
    /*COLOR PALETTE*/
    --grayish-navy: #373867;
    --light-grayish-green: #AACE9B;
    --grayish-navy-40: rgba(55,56,103,0.4);
    --grayish-navy-10: rgba(55,56,103,0.1);
    --light-grayish-green-10: rgba(55,56,103,0.1);
    --scarlet: #F33413;
    --Bright-green: #49A37B;

    /*TYPOGRAPHY*/
    --headline: 40px;
    --headline-font: 700;
    --title: 30px;
    --title-font: 700;
    --subheader: 20px;
    --component-title: 14px;
    --component-title-font: 700;
    --component-body: 14px;
    --secondary-body: 12px;
    --button: 15px;
    --button-font: 700;
}

*{
    box-sizing: border-box;
}

body{
    position: relative;
    height: max-content;
    font-family: 'Roboto', sans-serif;
    color: var(--grayish-navy);
}

a{
    text-decoration: none;
    color: inherit;
}

span{
    display: inline-block;
}

ol{
    list-style: decimal;
    list-style-position: inside;
}

header{
    margin-bottom: 57px;
    width: 100%;
    height: 77px;
    background-color: var(--grayish-navy);
}

aside{
    display: inline-block;
    position: absolute;
    top: 77px;
    left: 0px;
    width: 184px;
    height: 100%;
}

main{
    margin-left: 252px;
    margin-right: 78px;
    max-width: 1100px;
}

section{
    position: relative;
    margin-bottom: 57px;
    padding-bottom: 95px;
}

footer{
    margin-left: 252px;
    margin-right: 78px;
    font-size: var(--subheader);
}

nav{
    position: relative;
    padding-bottom: 95px;
    text-align: center;
}

/*=== CLASSES ===*/

.inline-block{
    display: inline-block;
}

.more-btn{
    padding: 14px 30px;
    border: 1px solid var(--grayish-navy);
    border-radius: 5px;
    font-size: var(--button);
    font-weight: var(--button-font);
}

.rr-logo{
    margin-top: 13px;
    margin-bottom: 5px;
    margin-left: 43px;
    width: 62px;
    height: auto;
}

.title{
    margin-top: 21px;
    margin-bottom: 9px;
    margin-left: 26.9px;
    font-size: var(--headline);
    font-weight: var(--headline-font);
    line-height: 47px;
    color: white;
    overflow: hidden; /*soluciona error de margin*/
}

.sidebar{
    position: sticky;
    top: 0px;
    height: 900px;
    padding-top: 24px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: var(--light-grayish-green);
    
}

.menu-btn{display: none;}

.side-title{
    position: relative;
    margin-bottom: 31px;
    font-size: var(--component-title);
    font-weight: var(--component-title-font);
}

.side-title::after{
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    border-radius: 4px;
    height: 3px;
    width: 47px;
    background-color: var(--grayish-navy);
}

.side-link{
    position: relative;
    padding-left: 1px;
    margin-bottom: 33px;
    font-size: var(--secondary-body);
}

.side-link::after{
    content: "";
    position: absolute;
    top: 32px;
    left: 0;
    border-radius: 3px;
    height: 1px;
    width: 100%;
    background-color: var(--grayish-navy-40);
}

.side-link2{
    margin-bottom: 18px;
    font-size: var(--secondary-body);
}

.address-block{
    margin-bottom: 36px;
}

.address{
    display: inline-block;
    position: relative;
    top: -2px;
    font-size: var(--secondary-body);
}

.address-icon{
    position: relative;
    vertical-align: top;
    margin-right: 1px;
}

section::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    height: 3px;
    width: 100%;
    background-color: var(--grayish-navy-40);
}

.section-1 div{
    display: inline-block;
    position: relative;
    margin-right: 9%;
    width: 45%;
    vertical-align: top;
}

.section-1 img{
    display: inline-block;
    width: 45%;
}

.main-title{
    margin-bottom: 19px;
    font-size: var(--headline);
    font-weight: var(--headline-font);
}

.subtitle{
    margin-bottom: 42px;
    font-size: var(--subheader);
}

.secondary-text{
    margin-bottom: 19px;
    font-size: var(--component-body);
    line-height: 17.6px;
}

.section-1 .more-btn{
    position: absolute;
    right: 0px;
    bottom: -46px;
}

.section-title{
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
    font-size: var(--title);
    font-weight: var(--title-font);
}

.section-title::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 3px;
    width: 115%;
    background-color: var(--light-grayish-green);
}

nav::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--light-grayish-green);
}

footer span{
    text-align: left;
}

.nav-block1{
    position: absolute;
    left: 113px;
}

.nav-block3{
    position: absolute;
    right: 113px;
}

.copyright{
    position: absolute;
    right: 0;
    padding-top: 16px;
}

.copyright p{
    margin-bottom: 23px;
    text-align: right;
}

footer div{
    position: relative;
}

.sm-link{
    margin-right: 38px;
    padding-top: 32px;
}

