footer{
    max-width: 100vw;
    padding-left: 5%;
    padding-right: 5%;
    font-size: var(--subheader);
}

nav{
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-bottom: 95px;
}

nav div{
    margin-bottom: 25px;
    min-width: 157px; /*hijo mas largo, sin esto el centrado con flex no se ve bien*/
}

nav::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--light-grayish-green);
}

/*=== CLASSES ===*/

.social-media{
    flex-direction: column;
    align-items: center;
}

.sm-link{
    margin: 24px 18px;
}

.social-media div{
    max-width: 320px;
    text-align: center;
    line-height: 32px;
}

/*=== MEDIA QUERIES ===*/
 @media (min-width: 768px){
    nav{
        flex-direction: row;
        justify-content: space-around;
    }

    nav div{min-width: initial;}

    .social-media{align-items:flex-start;}

    .social-media div{
        max-width: initial;
        text-align: left;
    }
 }

 @media (min-width: 1024px){
    .social-media {
    flex-direction: row;
    justify-content: space-between;
    }

    .social-media div{text-align: right;}
 }