header{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    top: 0px;
    padding: 0 7px;
    width: 100%;
    height: 77px;
    background-color: var(--grayish-navy);
}

/*=== CLASSES ===*/
.rr-logo{
    height: 59px;
}

.title{
    text-align: center;
    font-size: var(--headline);
    font-weight: var(--headline-weight);
    color: white;
}

.bx-menu{
    font-size: 45px;
    color: white;
}

/*=== MEDIA QUERIES ===*/
@media (min-width: 768px) {
    header{
        padding: 0 30px;
    }

    .title{
        margin-left: 27px;
    }
}