/*=== BASE ===*/

/*Variables*/
:root{
    /*COLOR PALETTE*/
    --grayish-navy: #373867;
    --light-grayish-green: #AACE9B;
    --grayish-navy-40: rgba(55,56,103,0.4);
    --grayish-navy-10: rgba(55,56,103,0.1);
    --light-grayish-green-10: rgba(55,56,103,0.1);
    --scarlet: #F33413;
    --Bright-green: #49A37B;

    /*TYPOGRAPHY*/
    --headline: 32px;
    --headline-weight: 700;
    --title: 26px;
    --title-weight: 700;
    --subheader: 20px;
    --component-title: 14px;
    --component-title-weight: 700;
    --component-body: 14px;
    --secondary-body: 12px;
    --button: 15px;
    --button-weight: 500;
}

body{
    position: relative;
    width: 100%;
    height: max-content;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--grayish-navy);
    scroll-behavior: smooth;
}

img{height: fit-content;}

aside + div{
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

/*=== CLASSES ===*/

.flex-container{
    display: flex;
}

.link-btn{
    display: inline-block;
    padding: 14px 30px;
    border: 1px solid var(--grayish-navy);
    border-radius: 5px;
    font-size: var(--button);
    font-weight: var(--button-weight);
}

.section-title{
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
    font-size: var(--title);
    font-weight: var(--title-weight);
}

.section-title::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 3px;
    width: 110%;
    max-width: 90vw; /*Avoids being longer than viewport when text jump line*/
    background-color: var(--light-grayish-green);
}

/*=== MEDIA QUERIES ===*/

@media (min-width: 768px){
    :root{
        --headline: 40px;
        --headline-font: 700;
        --title: 30px;
        --title-font: 700;
        --subheader: 20px;
    }
}